<div class="container center">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <form>
                <label for="searchRepository">Search PHP and JavaScript repositories from GitHub where the entered word is mentioned in the name.</label>
                <div class="input-group custom-search-form">
                    <input name="query" type="text" id="searchRepository" class="form-control"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>